h1
{
    text-align: center;
    background-color: red;
}
p
{
    font-family: Verdana;
    font-style: italic;
    color: green;
}
div
{
    font-family: Arial;
    font-style: default;
    color: cyan;
}